<!-- <h1 *ngIf="isLogin; else message">
  {{ Username }}
</h1> -->

<!-- <h1 *ngIf="!isLogin">
  the user is not founded
</h1> -->

<!-- <ng-template #message>
  <h1>Give access for this page</h1>
</ng-template>

@if (isLogin) {
  <h1>{{Username}}</h1>
} @else {
  <h1>give the access for this page</h1>
} -->

<!-- @if (!isLogin) {
  <h1>i not access to this page </h1>
} -->

<!-- @if(isAdmin) {
  <h1>your the admin</h1>
} @else if (isUser) {
  <h1>your the User</h1>
} @else if (isGuest) {
  <h1>your the Guest</h1>
} -->

<!-- <button (click)="loginbutton()">click me </button> -->

<!-- <h1 *ngIf="count > 3">
  That click is done
</h1> -->

<!-- @if (count > 3) {
  <h2>the count click is done</h2>
} @else if (count < 3) {
  <h2>the button is will be hide</h2>
} -->
<!-- switch -->
<!-- <div [ngSwitch]="userRoles">
  <p *ngSwitchCase="'Admin'">welcome admin </p>
  <p *ngSwitchCase="'User'">welcome user </p>
  <p *ngSwitchCase="'editor'">welcome Editor </p>
  <p *ngSwitchDefault="">No User is Founded</p>
</div>  -->

@switch (userRoles) {
  @case ('Admin') {
    <p>welecome {{userRoles}} to your page</p>
  }
  @case ('User') {
    <p>welcome user to your pages</p>
  }
  @case ('Editor') {
    <p>welcome editor to your page</p>
  }
  @default {
    <p>the user is not founded</p>
  }
}